<ul class="list-unstyled">
  <% reviews.each do |review| %>
    <li class="media mb-3">
      <% if @user.user_image? %>
        <%= image_tag @user.user_image.thumb.url, :size => "30x30" %>
      <% else %>
        <%= image_tag "/assets/akazukin.png", :size => "30x30" %>
      <% end %>
      <div class="media-body">
        <div>
          <%= link_to review.user.name, user_path(review.user) %> <span class="text-muted">投稿日時 <%= review.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div>
          <p class="font-weight-bolder">タイトル：<%= review.title %></p>
          <div id="star-rate-<%= review.id %>" class="star"></div>
          
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '/assets/star-off.png',
            starOn : '/assets/star-on.png',
            starHalf: '/assets/star-half.png',
            half: true,
            readOnly: true,
            score: <%= review.review_star %>,
          });
          </script>  
          
          <p class="mt-2"><%= review.content %></p>
          <p><%= image_tag review.image.thumb100.url if review.image? %></p>
        </div>
        <div>
          <% if current_user == review.user %>
            <%= link_to "削除", review, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-sm deletebt' %> <%= link_to '編集', edit_review_path(review.id), class: 'btn updatebt btn-sm' %> 
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate reviews %>
</ul>